**/x64/Debug/
**/x64/Release/
tests/VisualStudio/.vs/
tests/packages/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
tests/CmakeFiles/
tests/CMakeCache.txt
tests/cmake_install.cmake
tests/Makefile
build/
googletest*/
*.a
*.coverage
*.user
*.tlog
*.obj
*.pdb
*.lib
*.ilk
*.exe
*.testdurations
*.log
*.idb
*.pch
*.CopyComplete
*.iobj
*.ipdb
