name: Nightly PRs to Main

on:
  workflow_dispatch:
    inputs:
      dryrun:
        required: false
        type: boolean
        default: false
  schedule:
    # * is a special character in YAML so quote this string
    - cron:  '5 0 * * *'

jobs:
  # Run the common workflow on each pull request
  Nightly_PR_to_Main:
    uses: 51Degrees/common-ci/.github/workflows/nightly-prs-to-main.yml@main
    with:
      repo-name: ${{ github.event.repository.name }}
      org-name: ${{ github.event.repository.owner.login }}
      dryrun: ${{ inputs.dryrun || false }}
    secrets:
      token: ${{ secrets.ACCESS_TOKEN }}
      asset-keys: '{}'
